<div class="card-container">
	<div class="card shadow">
		<div class="card-header">
			<i class="card-icon far fa-sticky-note"></i>
			Personal Notes
			<div class="card-button">
				<div class="button" (click)="open()">Add note <i class="card-button-icon far fa-edit"></i></div>
			</div>
			<div class="card-button-mobile"><i class="card-button-icon far fa-edit"></i></div>
		</div>
		<div class="card-body">
			<div class="row">
				<ng-template ngFor let-note [ngForOf]="notesService.Notes" class="note-card-container card-container col-md-12">
					<div *ngIf="note.type == 'Personal'" class="col-6 col-md-4">
						<div class="card note-container shadow" style="margin: 10px">
							<div class="card-header goal-name">
								<div class="note-title" *ngIf="!note.edit">{{note.title}}</div>
							</div>
							<div class="card-body">
								<div class="col-lg-12 col-12">
									<div *ngIf="note.voice == false && !note.edit" class="note-description card-text">{{ note.note |
										slice:0:120}}{{note.note.length > 120 ? '...' : ''}}</div>
									<div *ngIf="note.voice == true" class="goal-description card-text"><i class="fas fa-microphone"></i>
										{{note.note}}</div>
									<div class="note-date card-text">{{note.date | date:"dd/MM/yyyy"}}</div>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>