<!-- Modal -->
<div class="modal-header">
	<button type="button" class="close no-outline" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 d-flex justify-content-center">
		<div class="welcome-container">
			<h4>{{usersService.ActiveUser.first_name}}'s Profile</h4>
			<p class="error-text" *ngIf="failure">{{resultMessage}}</p>
		</div>
	</div>
	<div class="modal-edit-profile-container">
		<div class="row">
			<div class="col-sm-12 col-md-12 d-flex justify-content-center">
				<div class="row d-flex justify-content-center">
					<div *ngIf="loadingdisplay" class="profile-loading-container">
						<img *ngIf="!usersService.ActiveUser.profile_image" src="../../../../assets/images/default-profile-image.jpg">
						<img *ngIf="usersService.ActiveUser.profile_image" (load)="loadImage()" [src]="usersService.ActiveUser.profile_image">
						<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
						 xml:space="preserve">
							<circle cx="50" cy="50" r="40" />
						</svg>
					</div>
					<div *ngIf="!loadingdisplay" class="profile-header-picture" style="background-size: cover;">
						<img *ngIf="!usersService.ActiveUser.profile_image" src="../../../../assets/images/default-profile-image.jpg">
						<img *ngIf="usersService.ActiveUser.profile_image" (load)="loadImage()" [src]="usersService.ActiveUser.profile_image">
					</div>
					<div class="col-12 d-flex uplaod-form-container justify-content-center">
						<form action="#">
							<p class="file">
								<input type="file" name="file" id="file" (change)="onFileChanged($event)" accept="image/x-png,image/jpeg" />
								<label for="file">Upload your image</label>
							</p>
							<p *ngIf="fileSelected && !fileFailure">{{selectedFile.name}}</p>
							<p *ngIf="loadingdisplay">Loading....</p>
							<p *ngIf="fileFailure">{{fileFailureMessage}}</p>
						</form>
					</div>
					<button type="button" *ngIf="fileSelected && !loading && !loadingdisplay" (click)="updateDisplay()" class="display-button button button-sm green-button">Save</button>

				</div>
			</div>
			<div class="col-sm-12 col-md-12 profile-header-info-container d-flex justify-content-center">
				<div class="row">
					<div class="col-12 col-md-12">
						<h5>{{usersService.ActiveUser.first_name}} {{usersService.ActiveUser.last_name}}</h5>
					</div>
					<div class="col-12 col-md-12">
						<p class="user-city"><span *ngIf="usersService.ActiveUser.role">{{usersService.ActiveUser.role | titlecase}}</span><span
							 *ngIf="usersService.ActiveUser.city"> | {{usersService.ActiveUser.city}}</span></p>
					</div>
				</div>
				<div *ngIf="!usersService.ActiveUser.first_name && !usersService.ActiveUser.last_name" class="name-placeholder">
					<div class="first"></div>
				</div>
			</div>
			<div class="basic-info-container col-12 col-md-6">
				<div class="basic-info-header">User Information</div>
				<div class="row" style="padding-top: 10px;">
					<div *ngIf="!edit" class="basic-info-headers col-2 col-md-5">
						<p> Company :</p>
						<p> City :</p>
						<p> Date of Birth :</p>
						<p> Joining Date :</p>
						<p> Email :</p>
					</div>
					<div *ngIf="edit" class="profile-edit col-12 col-md-12">
						<form class="form-container">
							<div class="row form-row">
								<div class="form-group float-label-control col-12">
									<input [(ngModel)]="usersService.ActiveUser.company" type="text" class="form-control" id="company" name="company"
									 required>
									<label for="name">Company</label>
								</div>
							</div>
							<div class="row form-row">
								<div class="form-group form-select col-12">
									<label class="city-label" for="country">City</label>
									<select [(ngModel)]="usersService.ActiveUser.city" class="form-control" id="frequency" name="priority">
										<option selected value="">Select City:</option>
										<option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
									</select>
								</div>
							</div>
							<div class="row form-row">
								<div class="form-group col-12">
									<label class="dob-label" for="birthDate">Date Of Birth</label>
									<input [(ngModel)]="usersService.ActiveUser.birthdate" class="form-control" id="birthDate" name="birthDate"
									 bsDatepicker  placement="top" type="text" name="birthDate" [bsConfig]='{locale: "en"}' (dateSelect)="onDateSelect($event)" />
								</div>
							</div>
							<div class="row form-row">
								<div class="form-group float-label-control col-12">
									<input [(ngModel)]="usersService.ActiveUser.email" type="email" class="form-control" id="email" name="email"
									 required>
									<label for="email">Email</label>
								</div>
							</div>
						</form>
					</div>
					<div *ngIf="!edit" class="col-4 col-md-5">
						<p *ngIf="usersService.ActiveUser.company"><span class="bold">{{usersService.ActiveUser.company}}</span></p>
						<p *ngIf="!usersService.ActiveUser.company"><span class="bold">Not Given</span></p>
						<p *ngIf="usersService.ActiveUser.city"><span class="bold">{{usersService.ActiveUser.city}}</span></p>
						<p *ngIf="!usersService.ActiveUser.city"><span class="bold">Not Given</span></p>
						<p *ngIf="usersService.ActiveUser.birthdate"><span class="bold">{{getBirthDate(usersService.ActiveUser.birthdate)}}</span></p>
						<p *ngIf="!usersService.ActiveUser.birthdate"><span class="bold">Not Given</span></p>
						<p><span class="bold">{{getBirthDate(usersService.ActiveUser.joining_date)}}</span></p>
						<p><span class="bold">{{usersService.ActiveUser.email}}</span></p>
					</div>
				</div>
			</div>
			<div class="profile-info-actions col-12 col-md-6">
				<div class="profile-actions-header d-flex justify-content-center">
					<h5>Profile Actions</h5>
				</div>
				<div class="profile-actions-card-container">
					<div class="card shadow-sm" style="margin: 10px">
						<div class="card-header">
							<div (click)="edit = !edit" class="goal-header-icon">
								<i class="edit-icon fas fa-pen"></i>
								<span class="profile-action-name">Edit Profile</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer d-flex justify-content-center">
	<button type="button" *ngIf="!loading && edit" (click)="updateProfile()" class="button button-sm green-button">Save</button>
</div>