<div class="row">
	<div class="col-12 col-md-12 profile">
		<div class="card-container">
			<div class="card shadow profile-header">
				<div class="card-header"><i class="card-icon fas fa-user"></i>
					<div (click)="editProfile()" class="card-button">
						<div class="button">Edit Profile <i class="card-button-icon fas fa-cog"></i></div>
					</div>
					<div (click)="editProfile()" class="card-button-mobile"><i class="card-button-icon fas fa-cog"></i></div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<div class="row">
								<div class="profile-header-picture" style="background-size: cover;">
									<img *ngIf="!usersService.ActiveUser.profile_image" src="../../../../assets/images/default-profile-image.jpg">
									<img *ngIf="usersService.ActiveUser.profile_image" (load)="loadImage()" [src]="usersService.ActiveUser.profile_image">
								</div>
								<div class="profile-header-info-container d-flex align-items-end">
									<div class="row">
										<div class="col-12 col-md-12">
											<h5>{{usersService.ActiveUser.first_name}} {{usersService.ActiveUser.last_name}}</h5>
										</div>
										<div class="col-12 col-md-12" *ngIf="usersService.ActiveUser.role && usersService.ActiveUser.city">
											<p class="user-city">{{usersService.ActiveUser.role | titlecase}} | {{usersService.ActiveUser.city}}</p>
										</div>
									</div>
									<div *ngIf="!usersService.ActiveUser.first_name && !usersService.ActiveUser.last_name" class="name-placeholder">
										<div class="first"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>