<div class="row">
	<div class="col-12 col-md-12 profile">
		<div class="card-container">
			<div class="card shadow profile-header">
				<div class="card-header"><i class="card-icon fas fa-user"></i>
					<div class="card-button">
						<div class="button">Edit Profile <i class="card-button-icon fas fa-cog"></i></div>
					</div>
				</div>
				<div class="card-body">
					<div class="profile-header-picture" style="background-size: cover;">
					</div>
					<div class="profile-header-info-container">
						<h5>{{usersService.ActiveUser.first_name}} {{usersService.ActiveUser.last_name}}</h5>
						<div *ngIf="!usersService.ActiveUser.first_name && !usersService.ActiveUser.last_name" class="name-placeholder">
							<div class="first"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>