<div class="row">
  <div class="col-12 col-md-3">
    <div class="card-container">
      <div class="shadow card">
        <div class="card-header"><i class="card-icon fas fa-users"></i>Active Clients</div>
        <div class="card-body">
          <div class="integrity-score d-flex justify-content-center">
            {{clients}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card-container">
      <div class="shadow card">
        <div class="card-header"><i class="card-icon fas fa-users"></i>Pending Clients</div>
        <div class="card-body">
          <div class="integrity-score d-flex justify-content-center">
            {{pendings}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card-container">
      <div class="shadow card">
        <div class="card-header"><i class="card-icon fas fa-user-cog"></i>Active Administrators</div>
        <div class="card-body">
          <div class="integrity-score d-flex justify-content-center">
            {{admins}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card-container">
      <div class="shadow card">
        <div class="card-header"><i class="card-icon fas fa-user-cog"></i>Active Companies</div>
        <div class="card-body">
          <div class="integrity-score d-flex justify-content-center">
            {{companies.length}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>