<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="exampleModalLongTitle">Add new note</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bootstrap-iso">
            <div class="modal-sign-up-container">
                <form>
                    <div class="form-group float-label-control">
                      <label for="noteName">Note Name</label>
                      <input [(ngModel)]="title" name="title" type="text" class="form-control" id="noteName" placeholder="Note Name">
                    </div>
                    <div class="form-group float-label-control">
                      <label for="noteType">Note Type</label>
                      <input [(ngModel)]="type" name="type" type="text" class="form-control" id="noteType" placeholder="Note Type">
                      <!-- <label for="noteContent">Note Content</label> -->
                        <textarea [(ngModel)]="note" name="note" class="form-control noteContentArea" rows="5" id="note" placeholder="Note Content"></textarea>
                    </div>
                </form>
                <div class="row d-flex justify-content-center">
                    <div class="record-button"><i class="fas fa-microphone"></i></div>
                  </div>
                <div class="header-button-container">
                    <button data-dismiss="modal" (click)="addNote()" class="button dark-button sign-in-button">Add Note</button>
                </div>
              </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
</div>