<div class="modal-header">
	<button type="button" class="close no-outline" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 d-flex justify-content-center">
		<div class="welcome-container">
			<h5>Add note</h5>
			<p class="error-text" *ngIf="failure">{{resultMessage}}</p>
		</div>
	</div>
	<div class="modal-add-note-container">
		<div class="modal-sign-in-container">
			<form class="col s12" id="reg-form">
				<div class="row">
					<div class="form-group float-label-control col s12">
						<input [(ngModel)]="Note.title" name="email" id="note_name" type="text" class="validate" required>
						<label for="email">Note Name</label>
					</div>
				</div>
				<div class="row note-type-select">
					<div class="form-group priority-select col-12 col-md-12">
						<label for="frequency">Note Type</label>
						<select [(ngModel)]="Note.type" class="form-control" id="note_type" name="note">
							<option value="Personal">Personal</option>
							<option value="Session">Session</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group float-label-control col s12">
						<textarea [(ngModel)]="Note.note" name="note" class="form-control noteContentArea" rows="5" id="note" (ngModelChange)="onChange($event)"></textarea>
						<label for="note">Note</label>
						<div class="row">
							<div class="col-6 col-md-7">
								<p class="note-error" *ngIf="noteError">{{noteError}}</p>
							</div>
							<div class="col-6 col-md-5">
								<p class="word-count">Character Count: {{charCount}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="record-button"><i class="fas fa-microphone"></i></div>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="col-12">
						<div class="header-button-container" *ngIf="!loading && !success && noteReady">
							<button type="submit" (click)="addNote()" class="button dark-button sign-in-button">Add Note</button>
						</div>
						<div class="header-button-container" *ngIf="success">
							<button type="submit" class="button green-button sign-in-button"><i class="fas fa-check"></i></button>
						</div>
						<div class="secondary-loading-container" *ngIf="loading">
							<div class="secondary-loading"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer"></div>