<div class="modal-header">
	<div class="col-10 col-md-10">
		<div class="modal-title" id="exampleModalLongTitle">
			<textarea #newNoteTitle class="form-control displayNoteTextAreaD displayTitle" [attr.disabled]="disabled" rows="1">{{notesService.ActiveNote.title}}</textarea></div>
	</div>
	<div class="note-header-icon">
		<i (click)="editNote()" class="fas edit-icon fa-pencil-alt"></i>
		<i (click)="activeModal.dismiss('Cross click')" class="fas error-icon fa-times"></i>
	</div>
</div>
<div class="modal-body">
	<div class="modal-subtitle" id="exampleModalLongTitle"> <textarea class="form-control displayNoteTextAreaD note-type"
		 [attr.disabled]="disabled" rows="1">{{notesService.ActiveNote.type}}</textarea></div>
	<div>
		<select class="form-control" id="note_type" name="note" class="validate" [attr.disabled]="disabled">
			<option selected id="1">Personal</option>
			<option id="2">Session</option>
			<option id="3">Goal</option>
		</select>
	</div>
	<div>
		<textarea autosize #newNote id="display_note_text" class="form-control displayNoteTextAreaD note-display" [attr.disabled]="disabled">{{notesService.ActiveNote.note}}</textarea>
	</div>
	<div class="d-flex justify-content-end">
		<i (click)="!deleteNote()"  *ngIf="!disabledDeleteBtn" class="far fa-trash-alt icons_notes"></i>
	</div>
	<div class="header-button-container" style="text-align:center" *ngIf="disabledDeleteBtn">
		<ul >
				<h5>Are you sure you want to delete this?</h5>
				<button data-dismiss="modal" (click)="_deleteNote()" class="button dark-button sign-in-button" >Yes</button>
				<button data-dismiss="modal" class="button dark-button sign-in-button" >No</button>
		</ul>
	</div>
	<div class="header-button-container">
		<!-- <button data-dismiss="modal" (click)="saveNote(newNote.value, newNoteType.value, newNoteTitle.value)" class="button dark-button sign-in-button"
		 [disabled]="disabledSaveBtn">Save Changes</button> -->
	</div>
</div>
<div class="modal-footer"></div>

<script>

function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
}
</script>