/* Imports */

@import '../../../../styles/pages';
@import '../../../../styles/variables';
@import '../../../../styles/modal';
@import '../../../../styles/view';

.chart-container {
	padding: 10px;
}

.user-container {
	padding: 10px;
}

.table {
	color: $grey;

	thead {
		font-size: .8em;
	}

	.single-goal {
		transition-duration: 0.4s;

		&:hover {
			cursor: pointer;
			background-color: rgba(144, 164, 174, 0.2);
			transition-duration: 0.4s;
		}
	}
}

.profile-header-picture {
	cursor: pointer;

	border: double 3px transparent;
	border-radius: 30px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top left, #39B0BA, #52BA11);
	background-origin: border-box;
	background-clip: content-box, border-box;

	width: 45px;
    height: 45px;

	img {
		width: 39px;
		height: 39px;
		border-radius: 100px;
		image-rendering: auto;
	}
}