<div class="container-fluid full-height" id="mobile-menu-container">
	<div class="dashboard-nav-container bottom-shadow">
		<div class="dashboard-nav-logo">
			<img [src]='logo'>
		</div>
		<div class="dashboard-nav-actions d-flex align-items-center">
			<button (click)="navService.MobileMenu = false" class="hamburger hamburger--elastic" type="button">
				<i class="mobile-menu-icon fas fa-times"></i>
			</button>
		</div>
	</div>
	<div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
		<div class="secondary-loading-container">
			<div class="secondary-loading"></div>
		</div>
	</div>
	<div class="container menu-items-container" *ngIf="!loading">
		<div class="row" *ngFor="let tool of toolsService.tools">
			<div class="col-12 col-md-12 d-flex justify-content-center">
				<div class="mobile-menu-item">
					<div class="mobile-menu-item-icon d-flex justify-content-center">
						<svg>
							<use [attr.xlink:href]=tool.icon></use>
						</svg>
					</div>
					<div class="mobile-menu-item-header">{{tool.name}}</div>
				</div>
			</div>
		</div>
	</div>
</div>