<div class="card-container">
	<div class="card shadow">
		<div class="card-header"><i class="card-icon fas fa-check"></i>Completed Goals</div>
		<div class="card-body">
			<div class="secondary-loading-container" *ngIf="loading">
				<div class="secondary-loading"></div>
			</div>
			<div class="error-result-container" *ngIf="failure">
				<div class="error-result-icon d-flex justify-content-center align-items-center">
					<i class="far fa-frown"></i>
				</div>
				<div class="error-result-text">{{resultMessage}}</div>
			</div>
			<div class="notfound-container" *ngIf="!_CompletedGoals.length && !loading">
				<div class="notfound-icon d-flex justify-content-center">
					<i class="fas fa-check"></i>
				</div>
				<div class="notfound-text d-flex justify-content-center">There are currently no completed goals</div>
			</div>
			<div class="recent-goal-container table-responsive" *ngIf="!loading && _CompletedGoals.length">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Name</th>
							<th scope="col">Description</th>
							<th scope="col">Frequency</th>
						</tr>
					</thead>
					<tbody *ngFor="let goal of _CompletedGoals">
						<tr class="single-goal camelcase-text">
							<td><i class="green fas fa-check"></i></td>
							<td>{{goal.name}}</td>
							<td>{{goal.description}}</td>
							<td>{{goal.frequency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>