/* Page Related Styles */

@import './variables';

body,
html {
	height: 100%;
	font-family: $primary-font;
}

p {
	font-size: .9em;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 4em;
}

h3 {
	font-size: 4em;
}

h6 {
	font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-size: 4em;
}

.no-outline {
	outline: none;
}

span.thin {
	font-weight: 100;
}

p.small {
	font-size: 1em;
}

.white-text {
	color: #fff;
}

.grey-text {
	color: $grey;
}

.medium-text {
	font-size: 2em;
	text-decoration: none;
	text-underline: none;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.start-hidden {
	display: none;
}

.highlight {
	border: 2px solid red !important;
}

.sub-page-header {
	padding-bottom: 20px;
}

.camelcase-text {
	text-transform: capitalize;
}

.sub-page-button {
	float: right;
}

.sub-page-title {
	color: #a5b1c2
}

.sub-page-title-icon {
	padding: 10px;
	color: $secondary-color;
}

.content-container {
	//padding: 20px;
}

.subpage-message-icon {
	color: $grey;
	font-size: 4em;
	padding: 20px;
	transition-duration: .5s;

	&:hover {
		-webkit-transform: rotateZ(-180deg);
		-ms-transform: rotateZ(-180deg);
		transform: rotateZ(-180deg);
		transition-duration: .5s;
	}
}

.subpage-sub-message {
	color: $grey;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}

.card-container {
	padding: 10px;
}

.card {
	transition-duration: 0.4s;

	.card-header {
		font-family: $primary-font;
		font-weight: 100;
		font-size: 1em;
		color: #90A4AE;
		border: none;
		background-color: white;
	}

	.card-icon {
		padding-right: 10px;
	}

	.card-body {
		border: none;
	}

	.card-button-mobile {
		float: right;
	}

	&:hover {
		.notfound-icon {
			color: #2ecc71;
			transition-duration: 0.4s;
		}

		.card-icon .notfound-icon {
			color: #2ecc71;
			transition-duration: 0.4s;
		}
	}
}

.recording {
	color: $error-color;
}

.green {
	color: $secondary-color;
}

.card-button {
	font-family: $primary-font;
	float: right;
	color: $grey;
	font-size: 0.8em;

	.card-button-icon {
		padding-top: 5px;
		padding-left: 5px;
	}

	.button {

		-moz-border-image: -moz-linear-gradient(top, #39B0BA 0%, #52BA11 100%);
		-webkit-border-image: -webkit-linear-gradient(top, #39B0BA 0%, #52BA11 100%);
		border-image: linear-gradient(to bottom, #39B0BA 0%, #52BA11 100%);
		border-image-slice: 1;

		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		padding: 10px;
		transition-duration: 0.4s;
	}

	&:hover {
		.button {
			background: $secondary-color;
			color: white;
			border-radius: 2px;
			padding: 10px;
			cursor: pointer;
			transition-duration: 0.4s;
		}
	}
}

@media (max-width:768px) {
	.card-button {
		display: none;
	}
}

@media (min-width: 769px) {
	.card-button-mobile {
		display: none;
	}
}


//check in and check out page
.buttons {
	margin-right: 15px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.bottombutton {
	margin-bottom: 2%;
	width: 100%;
}

.sliderheader {
	font-weight: bold;
	margin-top: .8rem;
}

.list-group-item {
	background: transparent;
	border-top: transparent;
}

@media only screen and (max-width: 797px) {
	.buttons {
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.bottombutton {
		margin-bottom: 3%;
	}
}

/** ToolTip Wrapper Styles */

.tooltip-wrapper {
	text-transform: uppercase;
	color: $grey;
	cursor: help;
	font-size: .9em;
	position: relative;
}

.tooltip-wrapper .tooltip {
	font-family: $primary-font;
	background: $secondary-color;
	bottom: 100%;
	color: #fff;
	display: block;
	left: -25px;
	margin-bottom: 15px;
	opacity: 0;
	padding: 20px;
	pointer-events: none;
	position: absolute;
	width: 100%;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltip-wrapper .tooltip:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

/* CSS Triangles - see Trevor's post */
.tooltip-wrapper .tooltip:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	border-top: solid $secondary-color 10px;
	bottom: -10px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}

.tooltip-wrapper:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .tooltip-wrapper .tooltip {
	display: none;
}

.lte8 .tooltip-wrapper:hover .tooltip {
	display: block;
}