/* Variables to be used accross the project */

/* Colors */
$primary-color: #1997FD;
$primary-color-rgb: rgb(25,151,253);
$primary-color-rgba: rgba(25,151,253, 0.45);
$secondary-color: #52BA11;

$grey: #90A4AE;
$white: #FFFFFF;
$error-color: #cc0000;
$success-color: #52BA11;

/* Fonts */
$primary-font: 'Montserrat', sans-serif;