@import '../../../../styles/pages';
@import '../../../../styles/variables';
@import '../../../../styles/view';

//-------slider---------------------------------

::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #f3f3f3;
      height: 1.8rem;
    }
 
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 1.8rem;
      top: auto; /* to remove the default positioning */
      bottom: 100;
      background-color: rgb(94, 94, 94);

    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }

    .custom-slider{
    
      height: 8rem;
    }
    
  }
//-------slider end------------------------------


  .rowtop{
    margin-top: 2%;
  }

  

  .sliderheader{
    font-weight: bold;
  }


