@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

.rowtop {
	margin-top: 2%;
}

.journal-container {
	color: $grey;
	font-family: $primary-font;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;

	textarea {
		background-color: rgba(144,164,174, 0.1);;
		;
	}

	p {
		font-size: .8em;
	}
}

.getting-clear-icon {
	padding-right: 10px;
}


.inner-journal-container {
	background-color: $white;
}

.getting-clear{
	padding-bottom: 10px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.skip-text {
	padding-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.record-button {
	font-size: 2em;
	transition: 0.4s;

	&:hover {
		color: $error-color;
		transition: 0.4s;
	}
}