@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

.rowtop {
	margin-top: 2%;
}

.journal-container {
	color: $grey;
	font-family: $primary-font;
	padding-top: 20px;

	textarea {
		background-color: $white;
	}

	p {
		font-size: .8em;
	}

	.sliderheader {
		text-transform: capitalize;
		font-size: 1em;
		padding-right: 10px;
	}
}

.skip-text {
	padding-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.record-button {
	font-size: 2em;
	transition: 0.4s;

	&:hover {
		color: $error-color;
		transition: 0.4s;
	}
}