<header class="dashboard-nav navbar">
		<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- <a class="navbar-brand" href="#">
				<img class="navbar-brand-full" [src]="logo" width="89" height="25" alt="Smile Logo">
				<img class="navbar-brand-minimized" [src]="logo" width="30" height="30" alt="Smile Logo">
		</a> -->
		<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
				<span class="navbar-toggler-icon"></span>
		</button>
</header>