/* Imports */

@import '../../../../styles/pages';
@import '../../../../styles/variables';
@import '../../../../styles/modal';
@import '../../../../styles/view';

.dashboard-nav .navbar-nav .dropdown-menu-left {
	right: auto;
	left: 0;
}

.dashboard-nav {
	position: relative;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 70px;
	padding: 23px;
	margin: 0;
	background-color: #ffffff;
}

.dashboard-nav .navbar-brand {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50px;
	height: 100px;
	padding: 0;
	margin-right: 0;
	background-color: transparent;
}

.dashboard-nav .navbar-brand .navbar-brand-minimized {
	display: none;
}

.dashboard-nav .navbar-toggler {
	min-width: 50px;
	padding: 0.25rem 0;
}


@media (max-width: 991.98px) {
	.dashboard-nav {
		position: fixed;
		z-index: 1020;
		width: 100%;
		text-align: center;
		background-color: white;
	}

	.dashboard-nav .navbar-toggler {
		color: #bdc3c7;
	}

	.dashboard-nav .navbar-brand {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -77.5px;
	}
}