
<div class="dashboard-nav-container bottom-shadow">
	<div class="dashboard-nav-logo">
		<img [src]='logo'>
	</div>
	<div class="dashboard-nav-actions d-flex align-items-center">
		<button (click)="navService.MobileMenu = true"class="hamburger hamburger--elastic"
		 type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<div class="sign-out-btn" (click)="authenticationService.invalidateUser()">
			<svg>
				<use xlink:href="#signout-icon"></use>
			</svg>
		</div>
	</div>
</div>