<div class="row d-flex justify-content-center rowtop" style="margin-top: 2%">
  <div class="col-6 d-flex justify-content-center">
    Check Out
  </div>
</div>
<div class="row d-flex justify-content-center rowtop">
  <div class="col-lg-8 col-10 shadow-sm">
    <label class="sliderheader" style="font-weight: bold">5 Minute Journal</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your journal entery here..."></textarea>
    <div class="row d-flex justify-content-end">
      <button type="button" class="btn btn-info buttons">Record</button>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center rowtop">
  <div class="col-lg-8 col-10 d-flex justify-content-center">
    <button type="button" class="btn btn-success bottombutton submitbutton">Submit</button>
  </div>
</div>
<div class="row d-flex justify-content-center ">
  <div class="col-lg-8 col-10 d-flex justify-content-center">
    <button type="button" class="btn btn-light bottombutton">Skip</button>
  </div>
</div>