@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/modal';
@import '../../../../../styles/view';

.checklist-container {
	color: $grey;
	padding-bottom: 10px;

	.checklist-header {
		font-size: 1.1em;
		font-weight: bold;
		padding-bottom: 5px;
	}

	.checklist-item {
		padding-bottom: 5px;
		font-weight: 100;
	}
}

.modal-display-goal-container {
	padding-left: 15px;

	textarea {
		height: 200px;
		resize: none;
	}
}

.card-loading {
	padding-right: 20px;
}

.goal-delete-container {
	text-align: center;

	.goal-delete-header {
		color: $grey;
		font-size: .9em;
	}
}

.goal-actions-icons {
	i {
		cursor: pointer;
	}

	.tick-icon {
		padding-left: 5px;
		color: $secondary-color;
	}

	.cross-icon {
		padding-left: 15px;
		color: $error-color;
	}
}

.button-sm {
	font-size: 0.9em !important;
	padding: 6px 23px;
	font-weight: 100;
}

.goal-actions-card-container {
	.card {
		cursor: pointer;
		transition-duration: 1s;

		&:hover {
			.trash-icon {
				color: $error-color;
				transition-duration: 1s;
			}

			.edit-icon {
				color: $secondary-color;
				transition-duration: 1s;
			}
		}
	}
}

.goal-actions-header {
	h5 {
		font-size: 1em;
		font-weight: 100;
	}
}

.goal-action-name {
	padding-left: 15px;
}

.header-button-container {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in-button {
	transition-duration: 0.4s;

	&:hover {
		background: $primary-color;
		color: $white;
		transition-duration: 0.4s;
	}
}

.bs-datepicker {
	background: black !important;
}