<!-- Modal -->
<div class="modal fade" id="displayGoalModal" tabindex="-1" role="dialog" aria-labelledby="displayGoalModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">Edit Goal</div>
          <button (click)="enable()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group float-label-control">
              <label for="name">Goal Name</label>
              <input [disabled]="disabled" [(ngModel)]="goalsService.activeGoal.name" type="text" class="form-control" id="name" placeholder="Goal Name" name="name">
            </div>
            <div class="form-group float-label-control">
              <label for="description">Description</label>
              <input [disabled]="disabled" [(ngModel)]="goalsService.activeGoal.description" type="text" class="form-control" id="description" placeholder="Description" name="description">
            </div>
            <div class="form-group"> <!-- Date input -->
              <label for="due_date">Due Date</label>
              <input [disabled]="disabled" [(bsValue)]="goalsService.activeGoal.due_date" value="{{goalsService.activeGoal.due_date | date:'dd/MM/yyyy' }}"[(ngModel)]="goalsService.activeGoal.due_date" class="form-control" id="due_date" name="due_date" bsDatepicker type="text" name="due_date"/>
            </div>
            <div class="form-group">
              <label for="frequency">Frequency</label>
              <select [disabled]="disabled" [(ngModel)]="goalsService.activeGoal.frequency" class="form-control" id="frequency" name="frequency">
                <option value="Select Frequency:">Select Frequency:</option>
                <option *ngFor="let freq of frequencies" [value]="freq">{{freq}}</option>
              </select>
            </div>
        </form>
          <button (click)="enable()" class="button dark-button col-5">Edit</button>
          <button type="button" data-dismiss="modal" *ngIf="!disabled" [disabled]="disabled" (click)="save()" class="button green-button col-5" >Save</button>
          <button (click)="enable()" type="button" data-dismiss="modal" *ngIf="_close" [disabled]="disabled" class="button green-button col-5" >Close</button>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>