<app-modal-add-goal></app-modal-add-goal>
<app-modal-display-goal></app-modal-display-goal>
<div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
	<div class="secondary-loading-container">
		<div class="secondary-loading"></div>
	</div>
</div>
<div class="sub-page-dashboard-container" *ngIf="!loading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 col-md-6">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-check"></i>Dashboard / Goals
				</div>
			</div>
			<div class="col-6 col-md-6 d-flex justify-content-end">
				<div class="card-button">
					<div class="button" data-toggle="modal" data-target="#addGoalModal">Add Goal <i class="card-button-icon far fa-edit"></i></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="row">
					<div class="col-1 col-md-1 goal-frequency-key">
						<div class="goal-key"><i class="fas fa-redo"></i> Daily</div>
					</div>
					<div class="col-1 col-md-1 goal-frequency-key">
						<div class="goal-key"><i class="far fa-calendar-check"></i> Weekly</div>
					</div>
					<div class="col-1 col-md-1 goal-frequency-key">
						<div class="goal-key"><i class="fas fa-calendar-plus"></i> Monthly</div>
					</div>
				</div>
			</div>
			<div *ngFor="let goal of Goals" class="goal-card-container card-container col-md-4">
				<div (click)="setActiveGoal(goal)" data-toggle="modal" data-target="#displayGoalModal" class="card" style="margin: 10px">
					<div class="card-header goal-name">
						{{goal.name}}
						<div class="goal-header-icon"><i class="fas fa-redo"></i></div>
					</div>
					<div class="card-body">
						<div class="col-lg-10 col-10">
							<div class="goal-description card-text">{{goal.description}}</div>
							<h5 class="goal-frequency card-text">{{goal.frequency}}</h5>
							<h5>{{goal.dueDate}}</h5>
							<h5>something</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>