/* Imports */
@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

.card-container {
	padding: 0px !important;
}

.card-text {
	font-size: 12px;
}

.goal-frequency-key-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.goal-frequency-key {
	color: $grey;

	i {
		color: $secondary-color;
	}
}

.goal-card-container {
	color: $grey;
	font-family: $primary-font;
	cursor: pointer;

	.goal-header-icon {
		float: right;
		color: $grey;
		transition-duration: .4s;

		&:hover {
			color: $error-color;
			opacity: .5;
			transition-duration: .4s;
		}
	}

	.goal-name {
		font-weight: 900;
	}
	
	.goal-description {
		font-size: 1em;
	}

	.goal-frequency {
		text-transform: capitalize;
	}
}

.card-button-mobile {
	float: right;
	padding-right: 10px;
}

.ongoing-goals-container {
	padding-top: 20px;
}