/* Imports */
@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

.card-text {
	font-size: 12px;
}

.goal-frequency-key {
	color: $grey;
	i {
		color: $secondary-color;
	}
}
.goal-card-container {
	color: $grey;
	font-family: $primary-font;

	.goal-header-icon {
		float: right;
		color: $secondary-color;
	}
	.goal-name {
		font-weight: 900;
	}
	.goal-frequency {
		text-transform: capitalize;
	}
}