<div class="quick-links-container">
	<div class="quick-links-button-container" *ngIf="!this.loading">
		<div class="quick-links-button d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
			<div class="add-quick-link-inner">
				<div class="quick-links-icon d-flex justify-content-center"><i class="quick-link-icon fas fa-chart-pie"></i></div>
				<div class="quick-links-text">Overview</div>
			</div>
		</div>
		<div class="quick-links-button d-flex align-items-center justify-content-center" [routerLink]="['/dashboard/goals']">
			<div class="add-quick-link-inner">
				<div class="quick-links-icon d-flex justify-content-center"><i class="quick-link-icon fas fa-check"></i></div>
				<div class="quick-links-text">Goals</div>
			</div>
		</div>
		<div class="quick-links-button d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
			<div class="add-quick-link-inner">
				<div class="quick-links-icon d-flex justify-content-center"><i class="quick-link-icon fas fa-sticky-note"></i></div>
				<div class="quick-links-text">Notes</div>
			</div>
		</div>
	</div>
	<div class="quick-links-loading-container">
		<div class="loading-items text-align-center d-flex align-items-center" *ngIf="loading">
			<div class="loading-items-text">
				<div class="secondary-loading-container">
					<div class="secondary-loading"></div>
				</div>
			</div>
		</div>
	</div>
</div>