<div class="card-container">
	<div class="shadow card">
		<div class="card-header"><i class="card-icon far fa-clock"></i>Recent Goals</div>
		<div class="card-body">
			<div class="secondary-loading-container" *ngIf="loading">
				<div class="secondary-loading"></div>
			</div>
			<div class="error-result-container" *ngIf="failure">
				<div class="error-result-icon d-flex justify-content-center align-items-center">
					<i class="far fa-frown"></i>
				</div>
				<div class="error-result-text">{{resultMessage}}</div>
			</div>
			<div class="notfound-container" *ngIf="!_RecentGoals.length && !loading">
				<div class="notfound-icon d-flex justify-content-center">
					<i class="far fa-clock"></i>
				</div>
				<div class="notfound-text d-flex justify-content-center">You have no upcoming goals</div>
				<div class="notfound-link no-outline d-flex justify-content-center" [routerLink]="['/dashboard/goals']">Click here to add a goal</div>
			</div>
			<div class="recent-goal-container table-responsive" *ngIf="!loading && _RecentGoals.length">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Description</th>
							<th scope="col">Frequency</th>
						</tr>
					</thead>
					<tbody *ngFor="let goal of _RecentGoals">
						<tr class="single-goal camelcase-text">
							<td>{{goal.name}}</td>
							<td>{{goal.description}}</td>
							<td>{{goal.frequency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>