<div class="sub-page-dashboard-container">
	<div class="container-fluid">
		<div class="sub-page-header">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="sub-page-title">
						<i class="sub-page-title-icon fas fa-sliders-h"></i>Dashboard / Check in
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 slider-outter-container">
				<div class="custom-slider shadow">
					<i class="slider-icon fas fa-bolt"></i>
					<label class="sliderheader">Physical Energy</label>
					<ng5-slider [(value)]="p_energy" [options]="options"></ng5-slider>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-outter-container">
				<div class="custom-slider shadow">
					<i class="slider-icon fas fa-heartbeat"></i>
					<label class="sliderheader">Heart Connection</label>
					<ng5-slider [(value)]="h_connection" [options]="options"></ng5-slider>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-outter-container">
				<div class="custom-slider shadow">
					<i class="slider-icon fas fa-lightbulb"></i>
					<label class="sliderheader">Mental Focus</label>
					<ng5-slider [(value)]="m_focus" [options]="options"></ng5-slider>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-outter-container">
				<div class="custom-slider shadow">
					<i class="slider-icon fas fa-globe-africa"></i>
					<label class="sliderheader">Feeling connected to the greater whole</label>
					<ng5-slider [(value)]="f_connected" [options]="options"></ng5-slider>
				</div>
			</div>
			<div class="col-12 col-md-6 slider-outter-container">
				<div class="custom-slider shadow ">
					<i class="slider-icon fas fa-smile-wink"></i>
					<label class="sliderheader">Happy to be me</label>
					<ng5-slider [(value)]="happy" [options]="options"></ng5-slider>
				</div>
			</div>
			<div class="col-12 col-md-12 journal-container">
				<div class="journal-form">
					<label class="sliderheader">Getting Clear</label>
					<i class="getting-clear-icon fas fa-info-circle"></i>
					<!-- <ul class="list-group list-group-flush" style="margin-bottom: 10px;">
							<li class="list-group-item">• I am grateful for...</li>
							<li class="list-group-item">• What would make today great?</li>
							<li class="list-group-item">• Daily affirmations. I am..</li>
						</ul> -->
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Type answers here or record..."></textarea>
					<div class="row d-flex justify-content-center">
						<div class="record-button"><i class="fas fa-microphone"></i></div>
					</div>
				</div>
				<div class="d-flex justify-content-center rowtop">
					<div class="col-5 col-md-5 d-flex justify-content-center">
						<button type="button" class="button dark-button sign-in-button">Submit</button>
					</div>
				</div>
				<p class="skip-text d-flex justify-content-center">Skip</p>
			</div>
		</div>
	</div>
</div>