@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';
@import '../../../../../styles/config';

//-------slider---------------------------------

.slider-outter-container {
	padding-bottom: 20px;
	color: $grey;
	font-family: $primary-font;

	.custom-slider {
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.sliderheader {}
}

.journal-container {
	color: $grey;
	font-family: $primary-font;
	padding-top: 20px;

	textarea {
		background-color: $white;
	}

	p {
		font-size: .8em;
	}
}

.skip-text {
	text-decoration: underline;
	cursor: pointer;
}

.audio-playback-header {
	padding: 10px;
	text-align: center;
}

.record-button {
	font-size: 2em;
	transition: 0.4s;
	cursor: pointer;
	&:hover {
		color: $error-color;
		transition: 0.4s;
	}
}

.slider-icon {
	padding-right: 10px;
}

.getting-clear-icon {
	padding-left: 10px;
}

::ng-deep {
	.custom-slider .ng5-slider .ng5-slider-bar {
		background: rgba(144,164,174, 0.1);
		height: 1.8rem;
	}


	.custom-slider .ng5-slider .ng5-slider-pointer {
		width: 8px;
		height: 1.8rem;
		top: auto;
		/* to remove the default positioning */
		bottom: 100;
		background-color: rgb(94, 94, 94);
		outline: none
	}

	.custom-slider .ng5-slider .ng5-slider-pointer:after {
		display: none;
	}

	.custom-slider .ng5-slider .ng5-slider-bubble {
		bottom: 14px;
	}

	.custom-slider .ng5-slider .ng5-slider-limit {
		//font-weight: bold;
		color: $grey;
	}

	.custom-slider .ng5-slider .ng5-slider-tick {
		width: 1px;
		height: 10px;
		margin-left: 4px;
		border-radius: 0;
		background: #ffe4d1;
		top: -1px;

	}

	.custom-slider {
		background-color: $white;
		height: 8rem;
		border-radius: 3px;
	}

}

//-------slider end------------------------------


.rowtop {
	margin-top: 2%;
}

.questions {
	color: rgb(51, 51, 51);
}

.sliderheader {
	font-weight: bold;
	margin-top: .8rem;
}

.list-group-item {
	border: none;
}

