/* Imports */
@import '../../../../styles/pages';
@import '../../../../styles/variables';
@import '../../../../styles/view';

.dashboard-container {
	width: 100vw;
	min-height: 100vh;
	background: #ECEFF1;

	.dashboard-loading-container {
		text-align: center;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: #F4F7F9;
		z-index: 9999;

		.dashboard-loading-inner {
			width: 100%;
		}

		.dashboard-loading-logo {
			width: 100%;
			text-align: center;

			img {
				width: 130px;
				height: 130px;
			}
		}

		.dashboard-status {
			width: 100%;
			padding: 30px;
			font-family: $primary-font;
			font-weight: 100;
			font-size: 2em;
			color: #90A4AE;
		}

	}

	&.no-scroll {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
}

.dashboard {
	overflow: hidden;
	width: 100vw;
	min-height: calc(100vh - 100px);
	display: table;
}

.dashboard-quick-links-container {
	vertical-align: top;
	width: 100px;
	height: 100%;
	display: table-cell;
	background: $white;
}

.dashboard-sub-pages-container {
	vertical-align: top;
	//padding: 30px 15px;
	position: relative;
	width: calc(100vw);
}

@media (min-width: 992px) {
	.dashboard-sub-pages-container {
		width: calc(100vw - 100px);
	}
}