/* Imports */
@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

#note_name {
	color: $grey;
	border: none;
	border-bottom: solid 1px $grey;
}

textarea {
	resize: none
}

.note-header-icon {
	float: right;
	opacity: .5;
}

.card-text {
	font-size: 12px;
	padding-top: 1rem;
}

.card-body {
	padding-top: 0rem !important;
}

.card {
	height: 100%;
}

.card-note-type {
	padding-top: 0.2rem !important;
}

.goal-frequency-key {
	color: $grey;

	i {
		color: $secondary-color;
	}
}

.goal-card-container {
	color: $grey;
	font-family: $primary-font;

	.goal-header-icon {
		float: right;
		color: $secondary-color;
	}

	.goal-name {
		font-weight: 900;
	}

	.goal-frequency {
		text-transform: capitalize;
	}
}

.card-button-mobile {
	float: right;
	padding-right: 10px;
}

.green-tick {
	color: $secondary-color !important;
}

.edit-icon {
	transition-duration: .5s;

	&:hover {
		color: $secondary-color;
		transition-duration: .5s;
	}
}

.error-icon {
	color: $error-color;
	padding-left: 10px;
}

.view-icon {
	padding-left: 10px;
}

.card-loading {
	padding-right: 10px;
}

.lds-ring {}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	margin: 2px;
	border: 2px solid $primary-color;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $primary-color transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}