/* Imports */
@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

#note_name {
	color: $grey;
	border: none;
	border-bottom: solid 1px $grey;
}

textarea {
	resize: none
}

.note-header-icon {
	float: right;
	opacity: .5;
}

.card-text {
	font-size: 12px;
	padding-top: 1rem;
}

.card-body {
	padding-top: 0rem !important;
}

.card {
	height: 100%;
}

.card-note-type {
	padding-top: 0.2rem !important;
}

.goal-frequency-key {
	color: $grey;

	i {
		color: $secondary-color;
	}
}

.goal-card-container {
	color: $grey;
	font-family: $primary-font;

	.goal-header-icon {
		float: right;
		color: $secondary-color;
	}

	.goal-name {
		font-weight: 900;
	}

	.goal-frequency {
		text-transform: capitalize;
	}
}

.card-button-mobile {
	float: right;
	padding-right: 10px;
}

.green-tick {
	cursor: pointer;
	color: $secondary-color !important;
}

.edit-icon {
	transition-duration: .5s;
	cursor: pointer;
}

.view-icon {
	transition-duration: .5s;
	padding-left: 10px;
	cursor: pointer;
	&:hover {
		color: $secondary-color;
		transition-duration: .5s;
	}
}

.error-icon {
	cursor: pointer;
	color: $error-color;
	padding-left: 10px;
	cursor: pointer;
}

.view-icon {
	transition-duration: .5s;
	cursor: pointer;
	padding-left: 10px; 
	&:hover {
		color: $secondary-color;
		transition-duration: .5s;
	}
}

.card-loading {
	padding-right: 10px;
}
