<div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
	<div class="secondary-loading-container">
		<div class="secondary-loading"></div>
	</div>
</div>
<div class="sub-page-dashboard-container" *ngIf="!loading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-check"></i>Dashboard / Notes
					<div class="sub-page-button card-button">
						<div class="button" (click)="open()">Add Note <i class="card-button-icon far fa-edit"></i></div>
					</div>
					<div class="card-button-mobile" (click)=open()><i class="card-button-icon fas fa-plus"></i></div>
				</div>
			</div>
		</div>
		<div class="subpage-message-container d-flex align-items-center justify-content-center" *ngIf="!loading && failure || (!loading && !notesService.Notes.length)">
			<div class="subpage-message">
				<div class="subpage-message-icon d-flex justify-content-center"><i class="fas fa-smile"></i></div>
				<h4 class="subpage-message">{{subPageMessage}}</h4>
				<p (click)="open()" class="subpage-sub-message no-outline">{{subPageLinkText}}</p>
			</div>
		</div>
		<div class="row">
			<ng-template ngFor let-note [ngForOf]="notesService.Notes" class="goal-card-container card-container col-md-4">
				<div class="goal-card-container  card-container col-md-4">
					<div class="card" style="margin: 10px">
						<div class="shadow card">
						<div class="card-header goal-name">
							<div class="note-header-icon">
								<i (click)="note.edit = !note.edit" *ngIf="!note.edit" class="fas edit-icon fa-pencil-alt"></i>
								<i onclick="displayNote()" (click)="displayNote(note)" *ngIf="!note.edit" class="fas view-icon fa-eye"></i>
								<i (click)="updateNote(note)" *ngIf="note.edit && !note.noteLoading" class="fas green-tick fa-check"></i>
								<div class="card-loading" *ngIf="note.noteLoading">
									<div class="lds-ring">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
								<i (click)="note.edit = !note.edit" *ngIf="note.edit && !note.noteLoading" class="fas error-icon fa-times"></i>
							</div>
							<div class="note-title" *ngIf="!note.edit">{{note.title | titlecase}}</div>
							<input [(ngModel)]="note.title" name="email" id="note_name" type="text" class="validate" *ngIf="note.edit">
							<h5 class="goal-frequency card-text card-note-type">{{note.type}}</h5>
						</div>
						<div class="card-body">
							<div class="col-lg-12 col-12">
								<div *ngIf="!note.voice && !note.edit" class="note-description card-text">{{ note.note | slice:0:120}}{{note.note.length > 120 ? '...' : ''}}</div>
								<textarea [(ngModel)]="note.note" name="note" class="form-control" rows="5" id="note" *ngIf="!note.voice && note.edit"></textarea>
								<div *ngIf="note.voice == true" class="goal-description card-text">
									<!-- <i class="fas fa-microphone"></i> -->
									<div class="audio-playback-container">
										<audio controls="">
											<source [src]="note.note" type="audio/wav">
										</audio>
									</div>
								</div>
								<h5 class="goal-frequency card-text">{{note.date | date:"dd/MM/yyyy"}}</h5>
							</div>
						</div>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>