<app-modal-add-goal></app-modal-add-goal>
<div class="sub-page-loading-container text-align-center d-flex align-items-center" *ngIf="loading">
	<div class="secondary-loading-container">
		<div class="secondary-loading"></div>
	</div>
</div>
<div class="sub-page-dashboard-container" *ngIf="!loading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 col-md-6">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-check"></i>Dashboard / Notes
				</div>
			</div>
      <div class="col-6 col-md-6 d-flex justify-content-end">
				<div class="card-button">
					<div class="button">Add Note <i class="card-button-icon far fa-edit"></i></div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="goal-card-container card-container col-md-4">
				<div class="card" style="margin: 10px">
					<div class="card-header goal-name">
						 Sesssion Wednesday
					</div>
					<div class="card-body" style="padding-top: 0rem !important">
						<div class="col-lg-10 col-10">
							<div class="goal-description card-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </div>
              <h5 class="goal-frequency card-text">31-11-2018</h5>
            </div>
					</div>
				</div>
      </div>
      
      <div class="goal-card-container card-container col-md-4">
				<div class="card" style="margin: 10px">
					<div class="card-header goal-name">
						My day today
					</div>
					<div class="card-body" style="padding-top: 0rem !important">
						<div class="col-lg-10 col-10">
              <div class="goal-description card-text"> <i class="fas fa-microphone"></i>  Recording  </div>
              <h5 class="goal-frequency card-text">31-11-2018</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>