<div class="card-container">
	<div class="card shadow">
		<div class="card-header"><i class="card-icon far fa-smile"></i>Feelings Overview</div>
		<div class="card-body">
			<div class="secondary-loading-container" *ngIf="loading">
				<div class="secondary-loading"></div>
			</div>
		</div>
		<div class="container-fluid">
			<div style="padding-bottom: 25px !important;" class="notfound-container" *ngIf="noCheckins">
				<div class="notfound-icon d-flex justify-content-center">
					<i class="fas fa-chart-line"></i>
				</div>
				<div class="notfound-text d-flex justify-content-center">There are currently no Checkins</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12">
					<div class="chart-container" *ngIf="Checkins.length && !loading && !noCheckins">
						<div [chart]="chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>