/* Imports */
@import '../../../../styles/pages';
@import '../../../../styles/variables';
@import '../../../../styles/view';

#verify-page {
	background: #222;
	background: linear-gradient($primary-color-rgba,$primary-color-rgba),url("../../../../assets/images/header-bg-down.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-fill-mode: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.container {
		//padding: 20px 25px;
		width: 550px;
		height: auto;
		box-sizing: border-box;
		position: relative;
	}

	.form-container {
		background-color: white;
		padding: 20px 25px;
		//border: 1px solid $primary-color;
		box-sizing: border-box;
		position: relative;
	}

	.form-container {
		animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
	  }
	  
	  @keyframes showUp {
		0% {
		  transform: scale(0);
		}
		100% {
		  transoform: scale(1);
		}
	  }
	  .row {margin-bottom: 10px;}
	  .ngl {
		position: absolute;
		top: -20px;
		right: -20px;
}
}

.header-button-container {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.welcome-container {
	padding-bottom: 60px;
	text-align: center;

	p {
		font-size: 15px;
	}
}

.logo-container {
	img {
		width: 300px;
		height: 150px;
	}
}
.float-label-control { position: relative; margin-bottom: 1.5em; }
	.float-label-control ::-webkit-input-placeholder { color: transparent; }
	.float-label-control :-moz-placeholder { color: transparent; }
	.float-label-control ::-moz-placeholder { color: transparent; }
	.float-label-control :-ms-input-placeholder { color: transparent; }
	.float-label-control input:-webkit-autofill,
	.float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
	.float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
		.float-label-control input:focus,
		.float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }
		.float-label-control textarea:focus { padding-bottom: 4px; }
	.float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
	.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
	.float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
	.float-label-control input.empty + label,
	.float-label-control textarea.empty + label { top: 0.1em; font-size: 1.5em; animation: none; -webkit-animation: none; }
	.float-label-control input:not(.empty) + label,
	.float-label-control textarea:not(.empty) + label { z-index: 1; }
	.float-label-control input:not(.empty):focus + label,
	.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
	.float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }
	.float-label-control.label-bottom input:not(.empty) + label,
	.float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }