<section id="verify-page" class="">
	<div class="container">
		<div class="logo-container d-flex justify-content-center">
			<img class="wide-logo" [src]="Logo">
		</div>
		<div class="form-container d-flex justify-content-center">
			<div class="row">
				<div class="col-12">
					<div class="welcome-container">
						<h5>Acount Creation</h5>
						<p>Fill in the form below to get access to the Smile Platform</p>
						<p class="error-text" *ngIf="failure">{{resultMessage}} <span (click)="resetForm()" class="error-retry" href="#">Try again</span></p>
						<p class="success-text" *ngIf="success">{{resultMessage}} </p>
					</div>
				</div>
				<div class="secondary-loading-container" *ngIf="loading">
					<div class="secondary-loading"></div>
				</div>
				<div class="col s12" id="reg-form" *ngIf="!loading && !failure && !success">
					<div class="row">
						<div class="form-group float-label-control col s6">
							<input [(ngModel)]="firstName" name="first_name" id="first_name" type="text" class="validate" required>
							<label for="first_name">First Name</label>
						</div>
						<div class="form-group float-label-control col s6">
							<input [(ngModel)]="lastName" name="last_name" id="last_name" type="text" class="validate" required>
							<label for="last_name">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div class="form-group float-label-control col s12">
							<input [(ngModel)]="username" name="username" id="username" type="text" class="validate" required>
							<label for="username">Username</label>
						</div>
					</div>
					<div class="row">
						<div class="form-group float-label-control col s12 email-input">
							<input readonly [(ngModel)]="email" name="email" id="email" type="email" class="validate" required>
							<label for="email">Email</label>
							<p class="input-hint">Email can only be changed once account has been verified.</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group float-label-control col s12">
							<input (keyup)="onKeyPasswordVerification($event)" [(ngModel)]="password" name="password" id="password" type="password" class="validate" minlength="6" required>
							<label for="password">Password</label>
							<p *ngIf="password_verif" class="error-text input-hint">{{password_verif}}</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group float-label-control col s12">
							<input (keyup)="onKeyPassword($event)" [(ngModel)]="verify_password" name="verify_password" id="verify_password" type="password" class="validate" minlength="6"
							 required>
							<label for="password">Verify Password</label>
							<p *ngIf="!match" class="error-text input-hint">Passwords do not match</p>
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="header-button-container">
							<button type="submit" (click)="verifyForm()" class="button dark-button sign-in-button">Verify</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>