<div class="sub-page-dashboard-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-user-plus"></i>Dashboard / Invite
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-start">
		<div class="col-md-12 col-12 invite-container">
			<div class="form-container card shadow invite-card-container">
					<h5>Invite User</h5>
					<p class="invite-sub-text">Invite a new user by email and specify user role.</p>
				<form>
					<div class="row">
						<div class="col-12 col-md-12">
							<div class="form-group float-label-control col-6 col-md-4">
								<input autocomplete="off" (keyup)="validateEmail($event)" [(ngModel)]="email" name="email" id="email" type="email" class="validate"
								 required>
								<label for="email">Email</label>
								<div style="padding-top: 10px;" class="email-loading">
									<p *ngIf="emailFailure">{{emailMessage}}</p>
									<div *ngIf="checkingUser" class="lds-ring">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
							</div>
							<div class="role-container form-group form-select col-6 col-md-4">
								<label class="label" for="role">Role</label>
								<select [(ngModel)]="role" class="form-control" id="role" name="role">
									<option value="client" selected="">Client</option>
									<option value="admin">Administrator</option>
								</select>
							</div>
						</div>
						<div style="padding-top: 10px" class="col-5 col-md-5">
							<button (click)="inviteUser()" *ngIf="!loading" type="button" [ngClass]="{'btn-disable': emailFailure}" class="button dark-button sign-in-button">Invite</button>
							<div class="secondary-loading-container d-flex justify-content-start" *ngIf="loading">
								<div class="secondary-loading"></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
</div>