/* Imports */
@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/view';

.btn-disable {
	background-color: $grey !important
}

.role-contanier {
	padding-top: 10px;

	.label {
		font-size: .9em;
		position: absolute;
		top: -25px;
		left: 0px;
	}
}

.secondary-loading-container {
	margin: 0 !important;
}

select {
	background-color: transparent;

	&:focus {
		background-color: transparent;
		outline: none;
	}
}

option {
	&:hover {
		outline: none;
	}
}

.user-card {
	cursor: pointer;
	transition-duration: .4s;

	&:hover {
		-webkit-box-shadow: 7px 6px 18px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 7px 6px 18px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 7px 6px 18px 0px rgba(0, 0, 0, 0.2);
		transition-duration: .4s;
	}
}

.user-delete {
	float: right;
	transition-duration: .3s;

	&:hover {
		color: $error-color;
		transition-duration: .3s;
	}
}

.user-role {
	text-transform: capitalize;
}

.user-email {}

.user-name {
	font-size: 1em;
}

.form-container {
	padding-top: 30px;
}

.invite-card-container {
	padding: 25px;
}

.invite-sub-text {
	padding-bottom: 10px;
}