/* Imports */

@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/modal';
@import '../../../../../styles/view';

p {
	font-size: 1.0em;
	color: $grey;
}

.header-button-container {
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in-button {
	transition-duration: 0.4s;
	&:hover {
		background: $primary-color;
		color: $white;
		transition-duration: 0.4s;
	}
}

.forgot-password-text {
	padding-top: 20px;
	text-decoration: underline;
	cursor: pointer;
}