<div class="sub-page-dashboard-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-home"></i>Dashboard / Overview
				</div>
			</div>
		</div>
		<app-element-profile-header></app-element-profile-header>
		<div class="content-container">
			<div class="row">
				<div class="col-12 col-md-5">
					<app-element-upcoming-goals></app-element-upcoming-goals>
				</div>
				<div class="col-12 col-md-7">
					<app-element-completed-goals></app-element-completed-goals>
				</div>
				<div class="col-12 col-md-12">
					<app-element-checkins-overview></app-element-checkins-overview>
				</div>
				<div class="col-12 col-md-12">
					<app-element-notes-overview></app-element-notes-overview>
				</div>
			</div>
		</div>
	</div>
</div>