<div class="sub-page-dashboard-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-home"></i>Dashboard / Overview
				</div>
			</div>
		</div>
			<app-element-profile-header></app-element-profile-header>
		<div class="content-container">
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="card-container">
						<div class="card shadow">
							<div class="card-header"><i class="card-icon far fa-clock"></i>Upcoming Goals</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="card-container">
						<div class="card shadow">
							<div class="card-header"><i class="card-icon fas fa-check"></i>Completed Goals</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12">
					<div class="card-container">
						<div class="card shadow">
							<div class="card-header"><i class="card-icon far fa-smile"></i>Feelings Overview</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12">
					<div class="card-container">
						<div class="card shadow">
							<div class="card-header">
								<i class="card-icon far fa-sticky-note"></i>
								Personal Notes
								<div class="card-button">
									<div class="button">Add note <i class="card-button-icon far fa-edit"></i></div>
								</div>
								<div class="card-button-mobile"><i class="card-button-icon far fa-edit"></i></div>
							</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>