<div class="sub-page-dashboard-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="sub-page-title">
					<i class="sub-page-title-icon fas fa-home"></i>Dashboard / Overview
				</div>
			</div>
		</div>
		<app-element-profile-header></app-element-profile-header>
		<div class="content-container">
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="card-container">
						<div class="shadow card">
							<div class="card-header"><i class="card-icon far fa-clock"></i>Upcoming Goals</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<div class="card-container">
						<div class="card shadow">
							<div class="card-header"><i class="card-icon fas fa-check"></i>Completed Goals</div>
							<div class="card-body">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12">
					<app-element-checkins-overview></app-element-checkins-overview>
				</div>
				<div class="col-12 col-md-12">
					<app-element-notes-overview></app-element-notes-overview>
				</div>
			</div>
		</div>
	</div>
</div>