/* Imports */

@import '../../../../../styles/pages';
@import '../../../../../styles/variables';
@import '../../../../../styles/modal';
@import '../../../../../styles/view';

.header-button-container {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in-button {
	transition-duration: 0.4s;

	&:hover {
		background: $primary-color;
		color: $white;
		transition-duration: 0.4s;
	}
}

select {
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 0px !important;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		outline: 0;
	}
}


.form-select {
	color: $grey;

	label {
		position: absolute;
		top: -13px;
		left: 0px;
		font-size: 0.85em;
	}

}

.priority-select {
	color: $grey;

	label {
		position: absolute;
		top: -13px;
		left: 0px;
		font-size: 0.85em;
	}

}

textarea {
	font-size: 0.85em !important;
}

.form-textarea {
	position: absolute;
	top: -13px;
	left: 0px;
	font-size: 0.85em;
	font-weight: normal;
}

.add-button {
	cursor: pointer;
	padding: 10px;
}

.checklist-header {
	color: $grey;
	padding-bottom: 20px;
}

.checklist-container {
	padding-bottom: 30px;
}

.checklist-add-icon {
	//font-size: 1em;
	color: $grey;
	//float: left;
}

.checklist-add {
	position: absolute;
	right: 8px;
	bottom: 19px;
	font-size: 1.2em;
}

.checklist-item {
	color: $grey;
}