<!-- Modal -->
<div class="modal-header">
	<button type="button" class="close no-outline" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="col-12 d-flex justify-content-center">
		<div class="welcome-container">
			<h5>Add Goal</h5>
			<p>Fill in the form below to add a new goal</p>
			<p class="error-text" *ngIf="failure">{{resultMessage}}</p>
		</div>
	</div>
	<div class="modal-add-note-container">
		<form class="col-12 col-md-12">
			<div class="row">
				<div class="form-group float-label-control col s12">
					<input [(ngModel)]="Goal.name" type="text" class="form-control" id="name" name="name" required>
					<label for="name">Goal Name</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group float-label-control col s12">
					<h5 class="form-textarea">Description</h5>
					<textarea [(ngModel)]="Goal.description" type="text" class="form-control" id="description" name="description"
					 required></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group float-label-control col s12">
					<button *ngIf="!checklistView" (click)="checklistView = !checklistView" class="form-control" add-button>Add
						Checklist</button>
					<div *ngIf="checklistView" class="checklist-header">Goal Checklist</div>
					<div class="checklist-container">
						<ng-template ngFor let-item let-i="index" [ngForOf]="checklist">
							<div class="checklist-item">#{{i + 1}} {{item.description}}</div>
						</ng-template>
					</div>
					<div class="row">
						<div *ngIf="checklistView" class="form-group float-label-control col-12 col-md-12">
							<input [(ngModel)]="checklistItem.description" type="text" class="form-control" id="name" name="name" required>
							<label for="name">Add Checklist Item</label>
						</div>
						<div class="checklist-add">
							<i *ngIf="checklistView" (click)="addItem()" class="checklist-add-icon fas fa-plus add-button"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group form-select col-6 col-md-6">
					<label for="priority">Priority</label>
					<select [(ngModel)]="Goal.priority" class="form-control" id="frequency" name="priority">
						<option id="1" selected="High">High</option>
						<option id="2">Medium</option>
						<option id="3">Low</option>
					</select>
				</div>
				<div class="form-group priority-select col-6 col-md-6">
					<label for="frequency">Frequency</label>
					<select [(ngModel)]="Goal.frequency" class="form-control" id="frequency" name="frequency" (ngModelChange)="onChange($event)">
						<option value="Once-off">Once-off</option>
						<option value="Daily">Daily</option>
						<option value="Weekly">Weekly</option>
						<option value="Monthly">Monthly</option>
					</select>
				</div>
			</div>
			<div class="form-group" *ngIf="dateInput">
				<label for="dueDate">Due Date</label>
				<input [(ngModel)]="Goal.due_date" class="form-control" id="dueDate" name="due_date" bsDatepicker type="text" name="due_date"
				[bsConfig]='{locale: "en"}' (dateSelect)="onDateSelect($event)" />
			</div>

		</form>
		<div class="header-button-container">
			<button data-dismiss="modal" (click)="createGoal()" class="button dark-button sign-in-button" *ngIf="!loading && !success">Add
				Goal</button>
			<div class="header-button-container" *ngIf="success">
				<button type="submit" class="button green-button sign-in-button"><i class="fas fa-check"></i></button>
			</div>
			<div class="secondary-loading-container" *ngIf="loading">
				<div class="secondary-loading"></div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer"></div>